<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    #main{
        display: flex;
        justify-content: center;
        border: 1px solid black;
        width: 30%;
        margin: 0px auto;
    }
    img{
        width: 100px;
        height: 100px;
    }
</style>
<body>
    <div id="main">
        <input type="file" id="getFile" accept="image/*">
     <br>
     <br>
    <button id="filebtn">upload</button>
    <br>
    <br>
    <img src="pic.jpg" alt="" id="img">
    </div>
</body>
<script src="app.js" type="module"></script>
</html>